html{
  
  scroll-behavior: smooth;

}

body{

  background-color: #000000;
  color: white;
  font-family: 'Poppins', sans-serif;
  align-items: center;
  flex-direction: column;

}

#root{
  
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  
  
}


#home{
  width: 100%;
  height: 100%;
  background-color: black;
  background-size: cover;
  background-position: center;
}

.nav-bar{
  
  padding: 12px 2%;
  background-color: #5271FF;
}

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.logo{
  width: 100px;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;
}

nav ul li a{
  color: #fff;
  text-decoration: none;
  font-size: 25px;
  font-weight: 600;
  position: relative;
}

nav ul li a::after{ 
  content: '';
  width: 0;
  height: 3px;
  background: aqua;
  position: absolute;
  left: 0;
  bottom: -6px;
  transition: 0.5s;
}

nav ul li a:hover::after{ 
  width: 100%;
}

.row{

  margin-top: 2%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.home-left{

  padding: 5%;
  flex-basis: 40%;

}

.sub-title{

  font-size: 60px;
  font-weight: 600;
  color: #fff;

}

.home-left p ol li{

  font-size: 30px;
  font-weight: 100;
  list-style-position: outside;
  

}

.sub-title span{

    color: #5271FF;
    font-family: 'Marker Felt', fantasy;

}

.home-left p ol li span{

  color: #A2BFFF;

}

.home-right{

  padding-right: 5%;
  flex-basis: 40%;

}

.home-right img{

    width: 90%;
    

}




#partnerForm{

  width: 100%;
  height: 100%;
  background-color: black;
  background-size: cover;
  background-position: center;

}



.container{
  padding: 5%;
  margin-left:auto; 
}

.submit-button{
  display: inline-block;
  background: #5271FF;
}

form input{
  width: 50%;
  border: 0;
  outline: none;
  background: #262626;
  padding: 15px;
  margin: 15px 0;
  color: #fff;
  font-size: 18px;
  border-radius: 6px;
}

form .submit-button{
  padding: 14px 60px;
  font-size: 18px;
  margin-top: 20px;
  cursor: pointer;
}

#calendar{

  width: 100%;
  height: 40%;
  background-color: black;
  background-size: cover;
  background-position: center;

}

table{

  border-spacing: 30px;

}

table, th, td{

border: 3px solid #5271FF;
border-collapse: collapse;

}

th, td{

  width: 130px;
  background-color: #A2BFFF;
  padding: 5px;

}






#myProfile{

  width: 100%;
  height: 100%;
  background-color: black;
  background-size: cover;
  background-position: center;

}